@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  background-color: pink;
}

/* body {
  font-family: "Open Sans", sans-serif;

  text-align: center;
} */

.main {
  margin: 0 auto;

  text-align: center;
}

.container {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 100px;

  height: 1000px;
  width: 1000px;

  background: hsl(239, 100%, 60%);
  border: 1px solid;

  cursor: pointer;
}
.title {
  position: center;
  text-align: center;
  font-family: "Papyrus", fantasy;
  background: hsl(239, 100%, 60%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  z-index: -100;
}

.dusty {
  z-index: -100;
  position: absolute;
}

.dusty {
  animation: infinite;
  -webkit-animation: dustyside 9s ease-in;
}
@-webkit-keyframes dustyside {
  0% {
    -webkit-transform: translateX(0px);
    opacity: 1000;
  }
  50% {
    -webkit-transform: translateX(0px);
    opacity: 9999;
  }
  100% {
    -webkit-transform: translateX(175px);
    opacity: 0.46;
    top: 90%;
    left: 90%;
  }
}
